/* nav end */
.thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.container .thumbnail .thumb_text {
    width: 600px;
    padding-top: 80px;
}

.container .thumbnail .thumb_text h2 {
    font-size: 35px;
    margin-bottom: 79px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icons .blog {
    width: 30px;
    height: 30px;
}

.thumb_img {
    background-image: url(/images/profile.jpg);
    width: 450px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
