/* nav end */

.container .thumbnail {
    position: relative;
    margin: 0 auto;
    display: flex;
}

.container .thumbnail .thumb_text {
    align-items: center;
    padding-top: 200px;
    padding-left: 390px;
    margin-right: 160px;
}

.container .thumbnail .thumb_text h2 {
    font-size: 40px;
    margin-bottom: 79px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icons .blog {
    width: 30px;
    height: 30px;
}
.thumb_img li {
    width: 450px;
    height: 600px;
}

.thumb_img .main_photo {
    /* background-image: url(/images/profile.jpg); */

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #ddd;
    margin: 126px 0 0 20px;
    z-index: 2;
}
